<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738007946237-qss6csjc3sn3iveao88dtrt44qssultp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738007946237-qss6csjc3sn3iveao88dtrt44qssultp</string>
	<key>API_KEY</key>
	<string>AIzaSyCiFhI-6fJqwa_-ZItfWF_Eq74LqIAUTQU</string>
	<key>GCM_SENDER_ID</key>
	<string>738007946237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleProject</string>
	<key>PROJECT_ID</key>
	<string>todo-app-6c94f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-6c94f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738007946237:ios:0fe4ed592edc513e89ff94</string>
</dict>
</plist>